/*General Styles*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li{
    list-style-type: none;
}

/*Home Styles*/

.Nav {
    display: flex;
    height: 80px;
}

.Nav__Div--Container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 4px 16px;
    align-items: center;
}

.Nav__List{
    display: flex;
}

.Nav__Link{
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    transition: all 900ms ease;
}

.Nav__Link:hover{
    text-decoration: underline;
}

.Nav__Link--Primary{
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    transition: all 200ms ease-in-out;
    padding: 8px;
    border: 2px solid black;
    border-radius: 4px;
}

.Nav__Link--Primary:hover{
    font-size: 22px;
}

.Logo {
    max-width: 160px;
    width: 100%;
}