/*Universal Styles*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Playwrite+US+Modern:wght@100..400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.Purple{
    color:rgb(97, 18, 194);
    font-weight: bold;
    padding-left: 4px;
}

/*Home Styles: Navigation*/

Nav{
    display: flex;
    height: 80px;
    background-color: #242424;
    justify-content: center;
}

.Nav__Div--Container{
    display: flex;
    width: 100vw;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0px 24px;
    padding: 12px;
    align-items: center;
}

.Logo{
    max-width: 180px;
    color-scheme: white;
}

.Nav__List{
    display: flex;
}

.Nav__Link{
    margin-left: 12px;
    font-size: 20px;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.Nav__Link:hover{
    text-decoration: underline;
}

.Nav__Link--Primary{
    margin-left: 12px;
    font-size: 20px;
    padding: 8px 14px;
    font-family: "Dehlia", cursive;
    color: #242424;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    transition: all 300ms ease;
}

.Nav__Link--Primary:hover{
    background-color:rgb(97, 18, 194);
    color: #fff;
}



/*Home Styles: General*/

Header{
    height: calc(100vh - 80px);
    background-color: rgb(242, 234, 246)
}

.Home__Div--Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home--Title{
    text-align: center;
    font-size: 56px;
    font-family: "DM Serif Display", serif;
    margin-top: 18px;
    
}

.Home--Subtitle{
    font-family: "Imperial Script", cursive;
    font-size: 40px;
}

.Btn{
    padding: 8px 18px;
    background-color:rgb(97, 18, 194);
    border: none;
    border-radius: 4px;
    margin: 12px;
    font-size: 18px;
    font-family: "Delius", cursive;
    transition: all 300ms ease;
}

.Btn:hover{
    cursor: pointer;
}

.Btn:active{
    transform: translateY(2px)
}

.Btn__Link{
    color: white;
}

.Home__Img--Mask{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 500px;
    padding-right: 24px;
    max-height: 500px;
}

.Home__Img{
    height: 100%;
    width: 100%;
}