/*Universal Styles*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Playwrite+US+Modern:wght@100..400&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

Body{
    overflow-x: hidden;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.Section--Display{
    text-align: center;
    margin-top: 50px;
    font-family: "Roboto", serif;
    font-size: 24px;
}

.Section--Design{
    color: #fff;
    font-family: "DM Serif Display";
    padding-top: 58px;
    font-size: 32px;
}

.Purple--Decor{
    color:rgb(97, 18, 194);
    font-family: "DM Serif Display", serif;
    font-size: 28px;
}

.Purple--Decor-Med{
    color:rgb(97, 18, 194);
}

.Purple--Decor-Big{
    color:rgb(97, 18, 194);
    text-align: center;
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    line-height: 1;
    margin-top: 18px;
}

/*Home Styles: Navigation*/

Nav{
    display: flex;
    height: 80px;
    width: 100vw;
    background-color:rgb(242, 234, 246);
    justify-content: center;
}

.Nav__Div--Container{
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0px 24px;
    padding: 12px;
    align-items: center;
}

.Logo{
    max-width: 180px;
    color-scheme: white;
}

.Nav__List{
    display: flex;
}

.Nav__Link{
    margin-left: 16px;
    font-size: 20px;
    color: rgb(0,0,0);
    transition: all 300ms ease-in-out;
}

.Nav__Link:hover{
    text-decoration: underline;
}

.Nav__Link--Primary{
    margin-left: 12px;
    font-size: 21px;
    padding: 8px 18px;
    font-family: "Deluis", cursive;
    color: rgb(97, 18, 194);
    border: 2px solid rgb(97, 18, 194);
    border-radius: 4px;
    transition: all 300ms ease;
}

.Nav__Link--Primary:hover{
    background-color:rgb(97, 18, 194);
    color: #fff;
}



/*Home Styles: General*/

Header{
    height: calc(100vh - 80px);
    width: 100vw;
    background-color: rgb(242, 234, 246)
}

.Home__Div--Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Home--Title{
    text-align: center;
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    line-height: 1;
    margin-top: 18px;
    
}

.Home--Subtitle{
    font-family: "Roboto";
    font-size: 20px;
    margin-top: 12px;
}

.Btn{
    padding: 8px 18px;
    background-color:rgb(97, 18, 194);
    border: none;
    border-radius: 4px;
    margin: 12px;
    font-size: 16px;
    transition: all 300ms ease;
}

.Btn__Link{
    font-family: "Roboto", sans-serif;
}

.Btn__Link:hover{
    cursor: pointer;
}

.Btn:active{
    transform: translateY(2px)
}

.Btn__Link{
    color: white;
}

.Home__Img--Mask{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    max-width: 500px;
    padding-right: 24px;
    max-height: 380px;
}

.Home__Img{
    height: 100%;
    width: 100%;
}

/*Highlights Styles*/

#Highlights{
    height: 50vh;
    width: 100vw;
}

.Highlights:before{
    content: "";
}

.Highlights:after{
    content:"";
}

.Highlights__Div--Outer{
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

.Highlights--Wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Highlight{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100% / 3);
    align-items: center;
}

.Icon--Decoration{
    display: flex;
    padding: 22px;
    color:rgb(97, 18, 194);
    border: 2px solid #242424;
    border-radius: 4px;
    font-size: 32px;
    margin-top: 42px;
}

.Highlight--Text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    text-align: center;
}

.Highlight--Caption{
    font-size: 22px;
}

/*Books Styles*/

#Books{
    height: 100vh;
    width: 100vw;
    background-color:rgb(0, 0, 0);
}

.Books__Div--Container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Books--Wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 1200px;
}

.Book{
    display: flex;
    height: 100%;
    width: 100%;
    max-width: calc(100% / 4);
    flex-direction: column;
    justify-content: center;
    margin: 0 12px;
}

.Book__Img--Mask{
    display: flex;
    height: 100%;
    max-height: 60vh;
    width: 100%;
}

.Book__Img--Mask:hover{
    cursor: pointer
}

.Book__Img{
    height: 98%;
    width: 98%;
    transition: all 300ms ease-in-out;
}

.Book__Img--Mask:hover .Book__Img{
    height: 100%;
    width: 100%;
}

.Book--Text{
    display: flex;
    flex-direction: column;
}

.Book--Title{
    padding-top: 12px;
    color: #fff;
}

.Book--Discount{
    text-decoration: line-through;
    color: darkgrey;
    opacity: 80%;
    padding-right: 8px;
}

.Book--Price{
    color: #bfbfbf;
}

.Star__Rating{
    display: flex;
    color: rgb(247, 202, 2);
    width: 31%;
    justify-content: center;
    padding: 4px;
}

/*Explore Styles*/

#Explore{
    height: 150vh;
    width: 100vw;
    background-color:rgb(0,0,0);
}

.Explore__Div--Container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Explore__Books--Wrapper{
    height: 100%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Explore__Book{
    height: 100%;
    max-height: 40%;
    width: 100%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 30px;
}

.Explore__Img--Mask{
    display: flex;
    height: 100%;
    width: 100%;
}

.Explore__Img{
    height: 100%;
    width: 100%;
}

.Explore--Text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Explore--Book-Title{
    padding-top: 12px;
    color: #fff;
}

.Explore--Icon-Decoration{
    display: flex;
    padding-top: 8px;
    color: rgb(247, 202, 2);
}

.Explore--Discount{
    text-decoration: line-through;
    color: darkgrey;
    opacity: 80%;
    padding-right: 12px;
}

.Explore--Price{
    color: #bfbfbf;
}

/*About Styles*/

#About{
    height: 100vh;
    width: 100vw;
    background-color: rgb(242, 234, 246);
}

.About__Div--Container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.About__Div--Top{
    display: flex;
    height: 40%;
    width: 100%;
    max-width: 60vw;
    align-items: center;
    justify-content: space-between;
}

.About--Top-Text{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.About__TopImg--Mask{
    height: 100%;
    max-height: 40vh;
    width: 100%;
    max-width: 20vw;
}

.About__Img--Top{
    height: 100%;
    width: 100%;
    padding-right: 40px;
}


.About__Div--Bottom{
    display: flex;
    height: 40%;
    width: 100%;
    max-width: 60vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.About--Bottom-Text{
    display: flex;
    flex-direction: column;
    height: 45%;
    width: 100%;
    padding-left: 40px;

}

.About__BotImg--Mask{
    height: 100%;
    max-height: 40vh;
    width: 100%;
    max-width: 30vw;
    padding-bottom: 20px;
}

.About__Img--Bottom{
    height: 100%;
    width: 100%;
}


.About--Header{
    text-align: center;
    padding-top: 32px;
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    line-height: 1;
}

.About--Top-Intro{
    font-family: "DM Serif Display", serif;
    padding-top: 20px;
}

.About--Bottom-Intro{
    font-family: "DM Serif Display", serif;
    padding-top: 10px;
}

.Section--Decor{
    font-family: "DM Serif Display", serif;
}

/*Contact Styles*/

#Contact{
    height: calc(100vh - 180px);
    width: 100vw;
}

.Contact__Div--Container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Contact--Content{
    display: flex;
    color: rgb(0, 0, 0);
}

.Contact__Header{
    color: rgb(0, 0, 0);
}

/*Footer Styles*/

Footer{
    height: 180px;
    width: 100vw;
    background-color: rgb(0,0,0);
}

.Footer--Container{
    height: 100%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 160px;
}


.Footer__List{
    display: flex;
}

.Footer__Img--Mask{
    display: flex;
    height: 100%;
    width: 100%;
    max-height: 60px;
    max-width: 160px;
}

.Footer__Img{
    height: 100%;
    width: 100%;
}

.Footer__Link{
    color: #fff;
    padding-left: 12px;
    transition: all 300ms ease;
}

.Footer__Link:hover{
    text-decoration: underline;
}