/*General Styles*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li{
    list-style-type: none;
}

.Purple{
    color: 
}

Img{
    width: 100%;
}

/*Home Styles*/

.Nav {
    display: flex;
    height: 80px;
}

.Nav__Div--Container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 4px 16px;
    align-items: center;
}

.Nav__List{
    display: flex;
}

.Nav__Link{
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    transition: all 900ms ease;
    color: #7342d6;
    font-weight: bold;
}

.Nav__Link:hover{
    text-decoration: underline;
}

.Nav__Link--Primary{
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    transition: all 200ms ease-in-out;
    padding: 8px;
    color: #7342d6;
    font-weight: bold;
    border: 2px solid #7342d6;
    border-radius: 4px;
}

.Nav__Link--Primary:hover{
    font-size: 22px;
    background-color: rgba(222, 202, 242, 0.9);
}

.Logo {
    max-width: 160px;
    width: 100%;
}

#Home{
    background-color: rgba(115,66,214,0.1);
}

Header{
    height: calc(100vh - 80px);
}

.Home__Div--Outer{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 720px;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;

}

.Home__Div--Inner{
}