/*------------------*/
/*Universal Styles*/
/*------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

Html{
    scroll-behavior: smooth;
}

Li{
    list-style-type: none;
}

A{
    text-decoration: none;
}

Section{
    overflow: hidden;
}

.Purple{
    color:rgb(100, 1, 192);
}

.No__Select{
    cursor: not-allowed;
}

.Container{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 56px 0;
}

.Row{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.Row__Column{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}


/*------------------*/
/*Home: Nav Styles*/
/*------------------*/

Nav{
    display: flex;
    height: 80px;
    width: 100vw;
}

.Nav__List{
    display: flex;
}
.Nav__Div--Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 1200px;
}

.Logo{
    max-width: 180px;
    margin-top: 12px;
}

.Nav__Link{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #242424;
    transition: all 300ms ease;
}

.Nav__Link:hover{
    text-decoration: underline;
}

.Nav__Link--Primary{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 24px;
    border: 3px solid rgb(100, 1, 192);
    color: #242424;
    border-radius: 4px;
    transition: all 300ms ease;
}

.Nav__Link--Primary:hover{
    background-color:rgb(100, 1, 192);
    font-weight: normal;
    color: #fff;
}

.Btn__Menu{
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    display: none;
}

.Menu__Backdrop{
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

.Menu--Open .Menu__Backdrop{
    display: flex;
    visibility: visible;
    opacity: 1;
}

.Menu--Open{
    max-height: 100vh;
    overflow-Y: hidden;
}

.Btn__Menu--Close{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #fff;
}

.Menu__Links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Menu__List{
    padding: 32px 0px;
}

.Menu__Link{
    color: #fff;
    font-size: 40px;
}

/*------------------*/
/*Home: Header Styles*/
/*------------------*/

#Home{
    height: 100vh;
    width: 100vw;
    background-color:rgb(232, 208, 255);
}

.Home__Div--Left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
}

.Home__Header{
    font-size: 55px;
    text-align: center;
    margin-bottom: 20px;
    text-align: left;
}

.Home__Subheader{
    margin-bottom: 20px;
    font-size: 24px;
    font-family: "Work Sans",sans-serif;
    font-weight: 400;
}

.Home__Btn{
    padding: 12px;
    background-color:rgb(100, 1, 192);
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    transition: all 300ms ease;
}

.Home__Btn:active{
    transform: translateY(2px);
}

.Home__Btn:hover{
    cursor: pointer;
    background-color: rgb(75, 1, 144)
}

.Home__Div--Right{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center; 
}

.Home__Img--Mask{
    height: 100%;
    width: 100%;
}

.Home__Img{
    height: 100%;
    width: 100%;
}
/*------------------*/
/*Highlights Styles*/
/*------------------*/

#Highlights{
    height: 60vh;
    width: 100vw;
    position: relative;
}

#Highlights:before,
#Highlights:after{
    background: url("assets/wave.svg");
    content: "";
    position: absolute;
    height: 12vw;
    width: 101vw;
    left: 0;
    z-index: 1;
}

#Highlights:before{
    top: 1px;
    transform: translateY(-100%);
}

#Highlights:after{
    bottom: 1px;
    transform: translateY(100%) rotate(180deg);
}

.Highlight--Top{
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.Highlight--Title{
    letter-spacing: 2px;
    font-size: 14px;
    color:rgb(100, 1, 192);
    font-weight: 700;
}

.Highlights__Header{
    font-size: 24px;
    margin: 4px 0 2px 0;
}

.Highlights__Subheader{
    color: #656464;
}

.Highlight--Wrapper{
    display: flex;
    height: 80%;
    width: 100%;
    margin: 0 auto;
}

.Highlight{
    display: flex;
    height: 100%;
    width: calc(100% / 3);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}

.Icon-Decor{
    display: flex;
    font-size: 22px;
    color:rgb(100, 1, 192);
    border: 2px solid rgba(79, 2, 146, 0.441);
    border-radius: 4px;
    padding: 16px;
}

.Highlight--Text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.H-Reason{
    font-size: 18px;
    margin: 12px;
}

.H-Caption{
    font-size: 16px;
    max-width: 90%;
    text-align: center;
    line-height: 24px;
}

/*Featured*/

#Featured{
    height: 100vh;
    width: 100vw;
    background-color:rgb(232, 208, 255);
}

.Featured--Top{
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.Featured--Title{
    letter-spacing: 2px;
    font-weight: 700;
    color:rgb(100, 1, 192);
}

.Featured__Header{
    font-size: 24px;
}

.Featured__Subheader{
    color:rgb(105, 113, 130);
}

.Books--Wrapper{
    display: flex;
    height: 80%;
    width: 100%;
}

.Book{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% / 4);
    padding: 0 18px;
}

.Book--Title{
    font-size: 18px;
    margin-top: 12px;
    transition: all 2s ease-in-out;
}

.Book--Title:hover{
    text-decoration: underline;
}

.Book--Rating{
    margin: 2px 0px;
    color: rgb(239, 184, 88)
}

.Book--Discount{
    text-decoration: line-through;
    color: rgb(114, 114, 114);
    margin-right: 2px;
}

.Books__Img--Mask{
    height: 100%;
    width:100%;
    overflow: hidden
}

.Books__Img--Mask:hover .Books__Img{
    transform: scale(1.03);
}

.Books__Img{
    height: 100%;
    width: 100%;
    transition: all 300ms ease;
}


/*Explore*/

#Explore{
    height: 140vh;
    width: 100vw;
    background-color: #242424;
}

.Explore--Top{
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    align-items: center;
    padding-top: 30px;
}

.Explore--Title{
    font-size: 14px;
    color:rgb(100, 1, 192);
    font-weight: 700;
    letter-spacing: 2px;
}

.Explore__Header{
    margin: 4px 0;
    color: #fff;
}

.Explore__Subheader{
    color:rgb(114, 114, 114);
}

.Explore--Wrapper{
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    padding-top: 28px;
}

.Exp--Book{
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
    align-items: center;
}

.Explore--Text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Exp__Img--Mask{
    height: 70%;
    width: 75%;
}

.Exp__Img--Mask:hover .Exp__Img{
    transform: scale(1.03)
}

.Exp__Img{
    height: 100%;
    width: 100%;
    transition: all 300ms ease;
}

.Exp--Book-Title{
    margin-top: 12px;
    color: #fff;
}

.Explore--Rating{
    margin: 2px 0px;
    color: rgb(239, 184, 88);
    font-size: 12px;
}

.Exp--Book-Price{
    font-size: 14px;
    color: #fff;
}

/*About Styles*/

#About{
    height: 100vh;
    width: 100vw;
    background-color:rgb(232, 208, 255);
}

.About--Left{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.About__Img--Mask{
    height:100%;
    width: 100%;
}

.About__Img{
    height: 100%;
    width: 100%;
}

.About--Right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}

.About--Title{
    font-size: 14px;
    font-weight: 700;
    color:rgb(100, 1, 192);
    letter-spacing: 2px;
}

.About--Text{
    line-height: 24px;
}

.About__Header{
    font-size: 40px;
    font-weight: 700;
    margin: 12px 0px;
}

.About__Subheader{
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    font-weight: 700;
}

.About--Header{
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
}

/*Contact Styles*/

#Contact{
    height: 60vh;
    width: 100vw;
}

.Contact--Title{
    font-size: 14px;
    color:rgb(100, 1, 192);
    letter-spacing: 2px;
    font-weight: 700;
}

.Contact__Header{
    font-size: 24px;
}

.Contact__Subheader{
    margin-bottom: 24px;
}

.Contact--Msg{
    font-size: 24px;
    margin: 16px 0;
}

.Contact--Header{
    font-size: 20px;
    margin-top: 8px;
}

.Contact--Info{
    margin-top: 4px;
}

.Contact--Inner{
    display: flex;
    height: 80%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.Contact--Left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
    padding: 18px 27px;
}

.Contact--Right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.Contact__Form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 48px;
}

input[type="text"]{
    width: 100%;
    padding: 8px 8px;
    max-width: 85%;
}

input[type="email"]{
    width: 100%;
    padding: 8px 8px;
    max-width: 85%;
}

.Social--Flex{
    display: flex;
    margin-top: 4px;
}

/*Footer Styles*/

Footer{
    height: 40vh;
    width: 100vw;
    background-color: #242424;
}

.Footer__List{
    display: flex;
}

.Footer__Link{
    color: #fff;
    font-size: 18px;
    margin-left: 30px;
}

.Footer__Logo{
    max-width: 200px;
    margin-bottom: 16px;
}