/*General Styles*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

li {
    list-style-type: none;
}

.Purple{
    color: #7342d6;
}

.Btn {
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    background-color: #7342d6;
    color: white;
    transition: all 300ms ease-in-out;
}

.Btn:hover{
    cursor: pointer;
}

.Btn:active{
    transform: translateY(4px);
}

/*Nav Styles*/

Nav  {
    display: flex;
    height: 80px;
}

.Nav__Div--Container {
    padding: 16px;
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.Nav__List{
    display: flex;
}

.Nav__Link{
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    transition: all 300ms ease;
    color: #7342d6;
    font-weight: bold;
}

.Nav__Link:hover{
    text-decoration: underline;
}

.Nav__Link--Primary{
    margin-left: 20px;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 20px;
    transition: all 300ms ease-in-out;
    border: 2px solid;
    border-radius: 4px;
    color: #7342d6;
    font-weight: bold;
}

.Nav__Link--Primary:hover{
    font-size: 23px;
    background-color: rgba(151, 110, 193, 0.3);
}

.Logo{
    width: 160px;
}

.Logo:hover{
    cursor: pointer;
}

/*Home Styles*/

#Home{
    background-color: rgba(207, 189, 224, 0.3)
}

Header{
    height: calc(100vh - 80px);
}

.Home__Div--Outer{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.Home__Img{
    height: 100%;
    max-height: 50vh;
}

.Home__Div--Inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home--Title{
    text-align: center;
    margin: 4px 12px 8px 12px;
}

.Home--Subtitle{
    text-align: center;
    margin: 12px;
    font-size: 20px;
}